# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myproject\ZBook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
